<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringMyBatisApplication" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.hust.chungvv.springmybatis.main.SpringMyBatisApplication" />
    <module name="spring-my-batis" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.hust.chungvv.main.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>